<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
	<appSettings>
		<add key="Path.FDT.Remote" value="\\diocletien\Projets\VIVOP\40-Projets\ASPIN\00 - COMMUN\06 - Suivi Interne\Fiches d'activites" />
		<add key="Path.FileSync" value="E:\Portable Softwares\FreeFileSync" />
		<!-- Server LOG for FileSync templates -->
		<add key="Path.Log.Remote" value="\\172.22.40.62\VIVOP_Share_TMP\98-AstekBatch" />
		<!-- Mail module -->
		<add key="Mail.From" value="astek.batch@astek.mu:Astek Batch" />
		<add key="Mail.To" value="abuchoo@astek.mu:ABO" />
		<add key="Mail.SMTPServer" value="mail.astek.mu" />
		<!-- Only on MAU-LORAN001 -->
		<add key="Path.GSheet.Local" value="E:\Google Drive\Work\ASPIN-SPID" />
		<add key="Path.GSheet.Remote" value="\\172.22.40.62\VIVOP_Share_TMP\01-Feuille d'activite\02-ASPIN" />
		<add key="Url.GoogleDoc.Export" value="https://docs.google.com/spreadsheets/d/{0}/export?format=xlsx" />
		<!-- Flag to check if servers are alive or not -->
		<add key="Server.Alive.Merle" value="\\172.22.40.62\VIVOP_Share_TMP\98-AstekBatch\Access.txt" />
		<add key="Server.Alive.Diocletien" value="\\diocletien\Projets\VIVOP\40-Projets\ASPIN\Access.txt" />
	</appSettings>
</configuration>