<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<appSettings>
		<!-- Server LOG -->
		<add key="Path.Log.Remote" value="\\172.22.40.63\ws\Projects\vivop\98-AstekBatch" />
		<!-- Flag to check if servers are alive or not -->
		<add key="Server.Alive.Merle" value="\\172.22.40.63\ws\Projects\vivop\98-AstekBatch\Access.txt" />
		<add key="Server.Alive.Diocletien" value="\\diocletien\Projets\VIVOP\40-Projets\ASPIN\Access.txt" />
	</appSettings>
</configuration>